*/target/*
*.iml
*.ipr
*.iws
dependency-*
*.log
.idea/
target/
sampledb/
spark-warehouse/
*.jar
*.crc
ingestion/src/test/resources/output/
testAT/src/test/resources/docker/datio/nginx/schema
testAT/src/test/resources/docker/datio/hadoop/hdfsTestFiles/
*/malformed/
api/scalastyle-output.xml
ingestion/scalastyle-output.xml
schema/scalastyle-output.xml
*.swp
doc/.vscode
.idea
